### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# Entornos
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Certificado CA
ca-certificate.crt

# Archivo de contraseña PostgreSQL
.pgpass
