# Archivo ejemplo para las variables necesarias para el archivo .env

# Django secret key
DJANGO_SECRET_KEY=secret-key

# Object storage
DO_SPACES_URL=https://space-name.region.digitaloceanspaces.com
DO_SPACES_CDN_URL=https://cdn-url.com
DO_SPACES_ACCESS_KEY=access-key
DO_SPACES_SECRET_KEY=secret-key
DO_SPACES_BUCKET=bucket-name
DO_SPACES_REGION=region

# Transbank keys
TRANSBANK_COMMERCE_CODE=code-key
TRANSBANK_API_KEY=api-key
TRANSBANK_ENVIRONMENT=env

# MultiCourier API
X_RAPIDAPI_KEY=api_key

# Añadir estas líneas si se está en ambiente dev
DEBUG=True
DEVELOPMENT_MODE=True
